<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RxJS in Angular</title>
    <meta
      name="description"
      content="Rxjs Hot Cool Observable Single Multiple broadcasting Angular "
    />
    <meta name="author" content="Jennifer" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/index.css" />
  </head>
  <body>
    <!--  for not index.html -->
    <nav class="nav collapsible">
      <span
        ><a href="/#angular" class="white">Jennifer - Full Stack Developer</a>
      </span>
      <span class="nav_toggler" style="outline: none !important"
        ><i class="fa fa-list white icon-bigger"></i
      ></span>
      <ul class="nav_list collapsible_content">
        <li>
          <ul class="nav_social" role="nav_social">
            <li>
              <a href="https://github.com/cxxyao2" target="_blank"
                ><i class="fa fa-github white icon-biggest"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/jenniferyao1996" target="_blank"
                ><i class="fa fa-twitter white icon-biggest"></i
              ></a>
            </li>
            <li>
              <a href="mailto:jenniferyao1996@qq.com" target="_blank"
                ><i class="fa fa-envelope white icon-biggest"></i
              ></a>
            </li>
          </ul>
        </li>
        <li class="nav_item"><a href="/#angular">Angular</a></li>
        <li class="nav_item"><a href="/#react">React</a></li>
        <li class="nav_item"><a href="/#webpack">Webpack</a></li>
        <li class="nav_item"><a href="/#database">Database</a></li>
      </ul>
    </nav>

    <!--  for not index.html -->
    <aside class="sidebar">
      <div class="sidebar_cover"></div>
      <div class="sidebar_main">
        <a href="#">
          <img class="sidebar_logo" alt="Jennifer" src="assets/tree1.jpg" />
        </a>
        <h3>Jennifer</h3>
        <span>Full Stack Developer</span>
        <hr />
        <p class="sidebar_description">
          I am passionate about frontend frameworks and databases.
        </p>
        <hr class="sidebar_divider" />
        <p class="sidebar_tags">
          <span class="sidebar_tag"
            ><a href="/#angular"
              ><img
                src="assets/angular-icon.svg"
                class="sidebar_icon"
              />&nbsp;Angular</a
            ></span
          >
          <span class="sidebar_tag"
            ><a href="/#react" alt="react blogs"
              ><img src="assets/react.svg" class="sidebar_icon" />&nbsp;React</a
            ></span
          >
          <span class="sidebar_tag"
            ><a href="/#webpack"
              ><img
                src="assets/webpack_logo.svg"
                class="sidebar_icon"
              />&nbsp;Webpack</a
            ></span
          >
          <span class="sidebar_tag"
            ><a href="/#database"
              ><img
                src="assets/mysql.png"
                class="sidebar_icon"
              />&nbsp;Database</a
            ></span
          >
        </p>
        <hr class="sidebar_divider" />
        <div>
          <ul class="navigation" role="navigation-social">
            <li class="navigation_item">
              <a href="https://github.com/cxxyao2" target="_blank"
                ><i class="fa fa-github icon-bigger"></i
              ></a>
            </li>
            <li class="navigation_item">
              <a href="https://twitter.com/jenniferyao1996" target="_blank"
                ><i class="fa fa-twitter icon-bigger"></i
              ></a>
            </li>
            <li class="navigation_item">
              <a href="mailto:jenniferyao1996@qq.com" target="_blank"
                ><i class="fa fa-envelope icon-bigger"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <main class="content_wrapper">
      <div class="content">
        <article class="post">
          <header>
            <span class="post_category"
              ><label class="date">2021-5-1</label> Angular</span
            >
            <h2>Most Commonly Used RxJS Operators</h2>
          </header>
          <section class="post_body">
            <ul>
              <li class="collapsible">
                Cold Observable vs Hot Observable
                <ul >
                  <li>cold: &nbsp;of, from</li>
                  <li>hot: &nbsp;subject, publish, connect, refCount, publicReplay</li>
                </ul>
              </li>
              <li class="collapsible">
                Four Subjects
                <ul >
                  <li>Subject</li>
                  <li>BehaviorSubject</li>
                  <li>AsyncSubject</li>
                  <li>ReplaySubject
                    <div class="alert is-helpful">Replays or emit old values to new subscribers</div>
                      <pre>
const sub = new ReplaySubject(3); // "3" means emits 3 old value to new subscribers
sub.next(1);
sub.next(2);
sub.subscribe(console.log); // output => 1,2
sub.next(3);
sub.next(4);
sub.subscribe(console.log); // output => 2,3,4                        
                      </pre>
                    </li>
                </ul>
              </li>
              <li class="collapsible">
                Maps &nbsp;<i
                  class="fa fa-arrow-down gray icon-bigger"
                ></i>
                <ul class="collapsible_content">
                  <li>map</li>
                  <li>SwitchMap 
                    <ol>
                      <li>It is a flattening operator. It maps an Observable to a new Observable and emit values. </li>
                      <li>It can cancel in-flight network requests</li>
                      <li>It allows only one active inner subscription</li>
                      <li>It only map the most recent value at a time to reduce unnecessary output( and network traffic).</li>
                    </ol>
                    <pre>
  // someComponent.ts
  ngOnInit() {
        this.validSearch$ = this.onSearchUser$
            .pipe(
                debounceTime(1000),
                map(event => (<HTMLInputElement>event.target).value),
                distinctUntilChanged(),
                filter(input => input !== ""),
                switchMap(data => this.rxjsSearchableInputService.searchUser(data))
            )
}                     
                    </pre>
                  </li>
                  <li>mapTo
                    <ul>
                      <li>map everyting to a constant value</li>
                    </ul>
                    <pre>
const source = interval(2000);
const example = source.pipe(mapTo(‘Hello World’));
const subscribe = example.subscribe(val => console.log(val)) ;
// output: Hello World
                    </pre>
                  </li>
                  <li>MergeMap( FlatMap )
                    <ol>
                      <li>It is an flattening operator</li>
                      <li>If every request needs to complete, it is the correct options</li>
                      <li>It allows multiple active inner subscriptions</li>
                    </ol>

                  </li>
                  <li>concatMap
                    <ul>
                      <li>use it if the order of emission and subscription of inner observables is important</li>
                    </ul></li>
                </ul>
              </li>
              <li>merge
                <div class="alert is-helpful">
                  turn multiple observables into a single observable
                </div>
                <pre>
const first = interval(2500) ;
const second= interval(2500);
const example = merge( 
first.pipe( mapTo(‘first’),
second.pipe( mapTo(‘second’)
);
// output:  second, first
const subscribe = example.subscribe(example); ..                  
                </pre>
              </li>
              <li>skip, timer, interval</li>
              <li>shareReply
                <div>share and replay values for later subscribers</div>
                <pre>
const route = new Subject&lt;string&gt;();           
const lastUrl = route.pipe(shareReplay(1));

// requires initial subscription 
const initialSubscriber = lastUrl.subscribe(console.log); 
route.next('my path');

const lastSubscriber = lastUrl.subscribe(console.log); // output => my path
                </pre>
              </li>
              <li>debounce</li>
              <li>fromEvent</li>
            </ul>
            <h3>An example about how to use RxJS operators</h3>
            <ul>
              <li>main features:<ol>
                <li>every 10 seconds</li>
                <li>get 30 new users from github server</li>
                <li>show a notification on the screen</li>
                <li>if user clicks "refresh" button, refresh user list ; if not, go to next cycle </li>
              </ol></li>
              <li>source code
                <pre>
// notification.service.ts

import { HttpClient } from '@angular/common/http';
import { Injectable } from '@angular/core';
import { Observable, of, timer } from 'rxjs';
import { catchError, map, share, switchMap } from 'rxjs/operators';
import { User } from '../rxjs-cache/user';
import { shareReplay } from 'rxjs/operators';

const CACHE_SIZE = 1;
const REFRESH_INTERVAL = 10000; // every 10 seconds
const API_ENDPOINT = 'https://api.github.com/users?since=';

@Injectable({
  providedIn: 'root',
})
export class NotificationService {
  private cacheUsers$?: Observable&lt;User[]&gt;;
  private userStartId = 0;

  constructor(private http: HttpClient) {}

  get users() {
    if (!this.cacheUsers$) {
      const timer$ = timer(0, REFRESH_INTERVAL); // at 0 second, emit the first  data; at every REFRESH_INTERVAL second , emit the following data
      this.cacheUsers$ = timer$.pipe(
        switchMap(() => this.requestUsers()),
        shareReplay(CACHE_SIZE)
      );
    }
    return this.cacheUsers$;
  }

  private requestUsers() {
    this.userStartId = this.userStartId + 30;
    return this.http.get<User[]>(API_ENDPOINT + this.userStartId).pipe(
      map((response) => response),
      catchError((error) => {
        console.log('something went wrong' + error);
        return of([]);
      })
    );
  }
}

                </pre> 
              <pre>
// notification.component.ts
import { Component, OnInit } from '@angular/core';
import { NotificationService } from './notification.service';
import { merge, Observable, Subject } from 'rxjs';
import { User } from '../rxjs-cache/user';
import { mapTo, mergeMap, skip, take } from 'rxjs/operators';
import { ThisReceiver } from '@angular/compiler';

@Component({
  selector: 'app-notification',
  templateUrl: './notification.component.html',
  styleUrls: ['./notification.component.css'],
})
export class NotificationComponent implements OnInit {
  users$!: Observable&lt;User[]&gt;;
  updateClick$ = new Subject&lt;void&gt;();
  showNotification$?: Observable&lt;boolean&gt;;

  constructor(private notService: NotificationService) {}

  ngOnInit(): void {
    const initialUsers$ = this.getUserOnce();
    const updateUsers$ = this.updateClick$.pipe(
      mergeMap(() => this.getUserOnce())
    );
    this.users$ = merge(initialUsers$, updateUsers$);

    const initNotification$ = this.getNotifications();
    const show$ = initNotification$.pipe(mapTo(true));
    const hide$ = this.updateClick$.pipe(mapTo(false));
    this.showNotification$ = merge(show$, hide$); // output => true,false; if click "refresh" button, execute updateClick$.next()
  }

  getUserOnce() {
    return this.notService.users.pipe(take(1));
  }

  getNotifications() {
    return this.notService.users.pipe(skip(1));
  }
}                
              </pre>
              <pre>
// notification.component.html     

&lt;div class="container" style="margin-top: 30px; width: 40%"&gt;
  &lt;div class="row justify-content-md-center" *ngIf="showNotification$ | async"&gt;
    &lt;div&gt;
      &lt;strong&gt;Warning!&lt;/strong&gt;new user infor avaiable, please click to update
      &lt;button
        type="button"
        style="margin-left: 20px"
        class="btn btn-warning"
        (click)="updateClick$.next()"
      &gt;
        Update
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="row justify-content-md-center"&gt;
    &lt;div
      style="margin: 10px"
      class="card w-100"
      *ngFor="let user of users$ | async"
    &gt;
      &lt;div class="card-body"&gt;
        &lt;h5 class="card-title"&gt;User Name:{{ user.login }}&lt;/h5&gt;
        &lt;p class="card-text"&gt;&lt;strong&gt;Github URL:&lt;/strong&gt; {{ user.url }}&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

              </pre>
              
              </li>
            
              <li>source code is hosted on github&nbsp;<a href="https://github.com/cxxyao2/rxjs/tree/master/src/app/notification" alt="RxJS notification">RxJS notification</a></li>
            </ul>
          </section>
        </article>
        <section class="read-more">
          <div class="read-more_item">
            <span class="read-more-item-dim">&lt;&lt;previous article</span>
            <h3>
              <a href="angular_crud_and_authentication_firebase.html"
                >CRUD and Authentication in Firebase</a
              >
            </h3>
          </div>
          <div class="read-more_item">
            <span class="read-more-item-dim">next article&gt;&gt;</span>
            <h3><a href="angular_performance.html">Improve Angular Performance</a></h3>
          </div>
        </section>

        <section class="footer">
          <span class="footer__copyright"
            >2021-5-31 Jennifer. All rights reserved.</span
          >
          <span class="footer__copyright"
            >Contact Email: Jenniferyao1996#hotmail.com</span
          >
        </section>
      </div>
      <span id="backToTop">
        <i class="fa fa-arrow-up"></i>
      </span>
    </main>
    <script src="main.js"></script>
  </body>
</html>
