/* name convention: child  _item; different type -inline  */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff9800;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: black;
  --color-border: #ccc;
  --border-radius: 30px;
  --background-primary: #e8f2fb;
  --background-accent: rgba(255, 152, 0, 0.05);
  --color-font: rgb(68, 68, 68);
  --color-font-darker: rgb(51, 51, 51);
  --color-white: #fff;
  --color-pagination: #7b0f19;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/** disable right-click context-menu, use cannot select text */
/* {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
} 
*/

input,
textarea {
  -webkit-user-select: auto; /*webkit*/
  user-select: auto;
  margin: 0px;
  padding: 0px;
  outline: none;
}

ul,
ol {
  margin-top: 1rem;
  margin-left: 10px;
  padding-left: 1rem;
  list-style-position: inside;
}

ul.no-indent,
ol.no-indent {
  margin: 0 0 2rem 0;
  padding: 0;
}

li {
  margin: 2.2rem auto;
  line-height: 2.8rem;
  text-align: left;
}
li.small-indent {
  margin: 0.8rem auto;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

/* Typography */
/* firstly for mobile service */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Roboto, Helvetica, sans-serif;
  color: var(--color-font);
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: justify;
}

.fw-600 {
  color: var(--color-font-darker);
  font-weight: 600;
  font-style: italic;
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0 auto 2rem;
  text-align: left;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

code {
  padding: 0.1em 0.4em;
  background: var(--background-primary);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-size: 0.9em;
  vertical-align: bottom;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a.index {
  color: rgba(26, 35, 38, 0.8);
  transition: all 0.35s ease-in-out;
  position: relative;
}
a.index:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: -0.5rem;
  border: 1px solid var(--color-secondary);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

p {
  line-height: 2.8rem;
  font-weight: 400;
}

p a {
  color: var(--color-primary);
}

.divider {
  width: 100%;
  margin: 20px auto;
  border: 1px solid var(--color-border);
}

.divider_transparent {
  width: 100%;
  margin: 5px auto;
  border: 1px solid transparent;
}

#divider_hooks::after {
  content: 'hooks';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
}

#divider_unsubscribe::after {
  content: 'unsubscribe or not';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
}

/* navigation */
.nav {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  display: flex;
  width: 100%;
  background-color: var(--color-headings);
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav_toggler {
  padding: 0.4em;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.nav_toggler:hover {
  opacity: 0.5;
}
.nav.collapsible-expanded .nav_toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav_list {
  position: relative;
  list-style-position: inside;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav_item {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-border);
}

.nav_item a {
  color: #fff;
  transition: all 0.3s;
}

.nav_item a:hover {
  opacity: 0.6;
}

.nav_social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.collapsible_content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible_content {
  max-height: 100vh;
  opacity: 1;
}

.post_body .collapsible-expanded .fa {
  transition: all 0.3s;
  transform: rotate(-90deg);
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 30%;
  max-width: 700px;
  background-image: url('../sea.jpg');
  color: var(--color-white);
  display: none;
}

.sidebar p {
  text-align: center;
}

.sidebar_cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(61, 66, 96, 0.5);
  background-image: linear-gradient(
    140deg,
    rgba(61, 66, 96, 0.6) 20%,
    rgba(21, 23, 34, 0.8)
  );
}

.sidebar_main {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
  z-index: 100;
  padding: 0 20px;
}

.sidebar_logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.sidebar_icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.sidebar_divider {
  width: 50%;
  margin: 20px auto;
}

.sidebar_tags {
  display: grid;
  gap: 5px;
}

.sidebar_tag {
  border-radius: 20px;
  border: 1px solid var(--color-border);
  padding: 5px 10px;
}

.sidebar .navigation {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar .navigation .navigation_item {
  display: inline-block;
  margin: 5px 1px 0 0;
  line-height: 2.5rem;
}

.sidebar a {
  color: var(--color-white);
  padding: 5px;
  transition: all 0.3s;
}

.sidebar a:hover {
  opacity: 0.8;
}

.white {
  color: var(--color-white);
}

.icon-middle {
  font-size: 1.5rem;
}
.gray {
  color: var(--color-body);
}

.icon-bigger {
  font-size: 2rem;
  line-height: 2rem;
}

.icon-biggest {
  font-size: 3rem;
  transition: all 0.6s;
}

.icon-biggest:hover {
  opacity: 0.8;
}

/* main content */
.content_wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
  color: var(--color-body-darker);
}

.content {
  margin: 0 5%;
  padding: 40px 0;
  max-width: 850px;
}

.post {
  text-align: justify;
}

.post_category {
  font-size: 1.1rem;
  color: var(--color-body);
}

.post_category .date::after {
  content: '\2022';
  display: inline-block;
  margin-left: 0.5rem;
}

.post_header {
  color: var(--color-body);
}

.post img {
  max-width: 100%;
  margin: 1.5em auto;
  border-radius: 4px;
  box-shadow: 0 8px 10px 0px var(--color-border);
  text-align: center;
  display: block;
}

pre {
  margin: 1.1em 0;
  padding: 0.5rem 2.5%;
  background: #e8f2fb;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

/* read-more section*/
.read-more {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.read-more_item {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.read-more_item h3 {
  margin-top: 0.5em;
  text-align: left;
}

.read-more-item-dim {
  color: var(--color-pagination);
  font-size: 0.8em;
}

/* footer */
.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 2px solid var(--color-border);
  font-size: 0.7em;
  color: var(--color-body);
}

.footer__copyright {
  display: block;
  white-space: pre-wrap;
  margin-bottom: 0.7em;
  text-align: center;
}

/* buttons */
#backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 2.5em;
  height: 2.5em;
  background-color: var(--color-secondary);
  border-radius: 100%;
  text-align: center;
  z-index: 99999;
}

#backToTop i {
  position: absolute;
  font-size: 1em;
  color: var(--color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* alerts */
.alert.is-helpful {
  margin: 1rem auto 2rem;
  padding: 1rem;
  border-left: 0.5rem solid var(--color-primary);
  background-color: var(--color-white);
  font-size: 1em;
  line-height: 1.5em;
}

.alert.is-important {
  margin: 0rem auto 1rem;
  padding: 1rem;
  border-left: 0.5rem solid var(--color-accent);
  background-color: var(--color-white);
  font-size: 1em;
  line-height: 1.5em;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
    line-height: 3.2rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 3.2rem;
    font-weight: bolder;
  }

  p {
    margin: 2.4rem auto;
    font-size: 1.7rem;
    line-height: 3.2rem;
    text-align: left;
  }

  li {
    font-size: 1.7rem;
    line-height: 3.2rem;
    margin: 2.4rem auto;
  }

  h1,
  h2,
  h3 {
    margin: 2rem auto;
  }

  .nav {
    display: none;
  }

  .sidebar {
    display: table;
  }

  .content_wrapper {
    width: 70%;
    margin-left: 30%;
  }
}
