/* name convention: child  _item; different type -inline  */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff9800;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: black;
  --color-border: #ccc;
  --border-radius: 30px;
  --background-primary: #e8f2fb;
  --background-accent: rgba(255, 152, 0, 0.05);
  --color-font: rgb(41, 41, 41);
  --color-pagination: #7b0f19;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding-left: 1rem;
  list-style-position: inside;
}

li {
  margin: 1em 0;
  line-height: 2.4rem;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

/* Typography */
/* firstly for mobile service */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-font);
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: justify;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 2rem;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: bolder;
  }

  p {
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: left;
  }

  li {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: 1.8rem 0;
  }

  h1,
  h2,
  h3 {
    margin: 2rem auto;
  }
}

code {
  padding: 0.1em 0.4em;
  background: var(--background-primary);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-size: 0.9em;
  vertical-align: bottom;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

p {
  margin: 1.5rem 0;
  line-height: 3rem;
  font-weight: 300;
}

p a {
  color: var(--color-primary);
}

.divider {
  width: 100%;
  margin: 20px auto;
  border: 1px solid var(--color-border);
}

/* navigation */
.nav {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  display: none;
  width: 100%;
  background-color: var(--color-primary);
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav_toggler {
  padding: 1rem 0;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.nav_toggler:hover {
  opacity: 0.5;
}
.nav.collapsible-expanded .nav_toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav_list {
  position: relative;
  list-style-position: inside;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav_item {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-border);
}

.nav_item a {
  color: #fff;
  transition: all 0.3s;
}

.nav_item a:hover {
  opacity: 0.6;
}

.collapsible_content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible_content {
  max-height: 100vh;
  opacity: 1;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 30%;
  max-width: 700px;
  background-image: url('../sea.jpg');
  display: table;
  color: white;
}

.sidebar p {
  text-align: center;
}

.sidebar_cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(61, 66, 96, 0.5);
  background-image: linear-gradient(
    140deg,
    rgba(61, 66, 96, 0.6) 20%,
    rgba(21, 23, 34, 0.8)
  );
}

.sidebar_main {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
  z-index: 100;
  padding: 0 20px;
}

.sidebar_logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.sidebar_icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.sidebar_divider {
  width: 50%;
  margin: 20px auto;
}

.sidebar_tags {
  display: grid;
  gap: 5px;
}

.sidebar_tag {
  border-radius: 20px;
  border: 1px solid var(--color-border);
  padding: 5px 10px;
}

.sidebar .navigation {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar .navigation .navigation_item {
  display: inline-block;
  margin: 5px 1px 0 0;
  line-height: 2.5rem;
}

.sidebar .navigation_item a {
  color: white;
  padding: 5px;
  opacity: 0.8;
}

.icon-white {
  color: white;
}
.icon-bigger {
  font-size: 2rem;
}

.nav {
  background-color: var(--color-headings);
}

/* main content */
.content_wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  width: 70%;
  margin-left: 30%;
  color: var(--color-body-darker);
}

@media screen and (max-width: 960px) {
  .nav {
    display: flex;
  }
  .sidebar {
    display: none;
  }

  .content_wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

.content {
  margin: 0 5%;
  padding: 40px 0;
  max-width: 850px;
}

.post {
  text-align: justify;
}

.post_category {
  font-size: 1.1rem;
  color: var(--color-body);
}

.post_category .date::after {
  content: '\2022';
  display: inline-block;
  margin-left: 0.5rem;
}

.post_header {
  color: var(--color-body);
}

.post img {
  max-width: 100%;
  margin: 1.5em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px var(--color-body);
  text-align: center;
  display: block;
}

pre {
  margin: 1.1em 0;
  padding: 1em 2.5%;
  background: #e8f2fb;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow: auto;
}

/* read-more section*/
.read-more {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.read-more_item {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.read-more_item h3 {
  margin-top: 0.5em;
  text-align: left;
}

.read-more-item-dim {
  color: var(--color-pagination);
  font-size: 0.8em;
}

/* footer */
.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 2px solid var(--color-border);
  font-size: 0.7em;
  color: var(--color-body);
}

.footer__copyright {
  display: block;
  white-space: pre-wrap;
  margin-bottom: 0.7em;
  text-align: center;
}

/* buttons */
#backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  border-radius: 100%;
  text-align: center;
  z-index: 99999;
}

#backToTop i {
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(60%);
}

@media screen and (max-width: 960px) {
  #backToTop i {
    transform: translateY(70%);
  }
}
/* alerts */
.alert.is-helpful {
  margin: 1rem 0;
  padding: 1rem;
  border-left: 0.5rem solid var(--color-primary);
  background-color: var(--background-primary);
  font-size: 1em;
  line-height: 1.5em;
}

.alert.is-important {
  margin: 1rem 0;
  padding: 1rem;
  border-left: 8px solid var(--color-accent);
  background-color: var(--background-accent);
  font-size: 1em;
  line-height: 1.5em;
}
