/* name convention: child  _item; different type -inline  */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
x::before {
  box-sizing: border-box;
}
/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge-primary {
  background: var(--color-primary);
  color: #fff;
}

.badge-secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge-small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge-small {
    font-size: 1.2rem;
  }
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-inline .list_item {
  display: inline-block;
  margin-right: 2rem;
}

.list-tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

/* nesting , only item under tick */
.list-tick .list_item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list-tick .list_item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon-small {
  width: 30px;
  height: 30px;
}

.icon-primary {
  fill: var(--color-primary);
}

.icon-white {
  fill: #fff;
}

.icon--container {
  background: #f3f9fa;
  width: 64px; /* on mobile or other medias, icon has same size*/
  height: 64px;
  border-radius: 100%;
  display: inline-flex; /* span default is inline, width height don't work */
  justify-content: center;
  align-items: center;
}

.icon--container-accent {
  background: var(--color-accent);
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
}

.btn-primary:hover {
  background: #3a8ffd;
}

.btn-secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn-secondary:hover {
  background: #00c8eb;
}

.btn-accent {
  background: var(--color-accent);
  color: #fff;
}
.btn-accent:hover {
  background: #ec3000;
}
.btn-stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn-block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn-outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn-outline:hover {
  background: var(--color-headings);
  color: #fff;
}

/* Inputs */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3; /* 20px blur ; 10px shadow width */
  overflow: hidden;
}

.card_header,
.card_body {
  padding: 2rem 3rem;
}

.card-primary .card_header {
  background: var(--color-primary);
  color: #fff;
}

.card-secondary .card_header {
  background: var(--color-secondary);
  color: #fff;
}

.card-primary .badge-primary {
  background: #126de4;
}

.card-secondary .badge-secondary {
  background: #02cdf1;
}

/* Plans */
.plan {
  transition: transform 0.2s ease-out;
}
.plan_name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan_price {
  font-size: 6rem;
}

.plan_billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}
.card-secondary .badge-secondary {
  background: #02cdf1;
}

.plan_description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list-item {
  margin-bottom: 3px;
}

.plan-popular {
  transform: scale(1.1);
}

.plan-popular .card_header {
  position: relative;
}

.plan-popular .card_header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan-popular:hover {
  transform: scale(1.15);
}
@media screen and (min-width: 1024px) {
  .plan_name {
    font-size: 1.4rem;
  }

  .plan_price {
    font-size: 5rem;
  }
  .plan_billing-cycle {
    font-size: 1.6rem;
  }

  .plan_description {
    font-size: 1.7rem;
  }
}

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media_title {
  margin-top: 0;
}

.media_body {
  margin: 0 2rem;
}

.media_image {
  margin-top: 1rem;
}

/* Blockquote 对象代表着一个 HTML 引用(blockquote)块元素 */
/* 一个 <blockquote> 元素的内容通常展现为一个左、右两边进行缩进的段落。*/
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

/* p: start as  ", end as " */
.quote_text::before {
  content: open-quote;
}

.quote_text::after {
  content: close-quote;
}
.quote_author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote_organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote_line {
  position: relative;
  bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote_author {
    font-size: 2.4rem;
  }

  .quote_organization {
    font-size: 1.6rem;
  }

  /* Grids */
  .grid {
    display: grid;
  }
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Testimonials */
.testimonial {
  padding: 3rem;
}
.testimonial_image {
  position: relative;
}
.testimonial_image > img {
  width: 100%;
}

.testimonial_image > .icon--container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width 768px) {
  .testimonial .quote,
  .testimonial .quote_author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout-primary {
  background: var(--color-primary);
  color: #fff;
}

.callout_heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout_content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto; /* 1fr means first column automatic stretch */
  }

  .callout_content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */
.collaspsible_header {
  display: flex;
  justify-content: space-between;
}

.collapsible_heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible_chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible_content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible_chevron {
  transform: rotate(0);
}

.collapsible-expanded .collapsible_content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem; /* this variable is accessible to .block and all its children */
  padding: var(--padding-vertical) 2rem;
}

.block_header {
  text-align: center;
  margin-bottom: 4rem;
}

.block_heading {
  margin-top: 0;
}

.block-dark {
  background: #000;
  color: #7b858b;
}

.block-dark h1,
.block-dark h2,
.block-dark h3 {
  color: #fff;
}

.block-skewed-right {
  padding-bottom: calc(var(--padding-vertical)) + 4rem;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 90%
  ); /* x y , right bottom 100% 100%*/
}

.block-skewed-left {
  padding-bottom: calc(var(--padding-vertical)) + 4rem;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    0% 100%
  ); /* x y , right bottom 100% 100%*/
}

.container {
  max-width: 1140px;
  margin: 0 auto; /* y x */
}

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav_list {
  width: 100%;
  margin: 0;
}

.nav_item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav_item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav_item > a:hover {
  color: #fff;
}

.nav_toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible-expanded .nav_toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
.nav_brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav_toggler {
    display: none;
  }

  .nav_list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav_item {
    border: 0;
  }
}

/* Hero */

.hero_tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero_image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero_content {
    text-align: left;
    align-self: center;
  }
}

.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain_prices {
  color: var(--color-headings);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto; /* 水平居中 */
}

@media screen and (min-width: 768px) {
  .block-domain_prices {
    grid-template-columns: repeat(
      auto-fit,
      minmax(6rem, 1fr)
    ); /* auto-fit  尽可能多的列数*/
  }
}

/* Plans Block */
.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature_heading {
  margin: 1rem 0;
}

.feature_image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature_content {
    order: 2;
  }
}

/* Showcase Block */
.block-showcase_image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase_image {
    justify-self: end;
  }
  .block-showcase_image > img {
    width: auto;
    max-width: 700px;
  }
}

/* Footer */
.footer {
  background-color: #232323;
}

.footer a {
  color: #777;
  transition: color 0.3s;
}
.footer a:hover {
  color: #fff;
}

.footer_section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer_section list {
  margin: 0;
}

.footer_heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer_brand {
  margin-top: 5rem;
  text-align: center;
}

.footer_brand img {
  /* TODO: consider refactoring */
  width: 100%;
  max-width: 230px;
}

.foot_copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer_sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible_chevron {
    display: none;
  }

  .footer .collapsible_content {
    opacity: 1;
    max-height: 100%;
  }
  .footer_brand {
    order: -1;
    margin-top: 1rem;
  }
  .foot_copyright {
    font-size: 1.5rem;
  }

  .footer_section {
    border: 0;
  }

  .footer_heading {
    font-size: 1.6rem;
  }
}
